@media screen and (min-width: 768px) {

    #menu-button {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery img {
        transition: transform 0.3s ease;
    }

    .gallery img:hover {
        transform: scale(1.05);
    }
}